

<div class="flex flex-col items-center mx-auto space-y-8 w-[var(--landing-page-width)]">
 <p class="bg-black px-7 py-1 text-white text-2xl ">Generate your workout today!</p>
 <app-step [number]="1">WORKOUT TYPE</app-step>
 <div class="flex items-center w-full">
  <app-button btnType="black">Individual</app-button>
  <app-button btnType="black">Bro split</app-button>
  <app-button btnType="black">Upper lower</app-button>
  <app-button btnType="black">Bodybuilder split</app-button>
</div>
 <app-step [number]="2">MUSCLE GROUP</app-step>
 <app-step [number]="3">GOAL & OBJECTIVES</app-step>
 <div class="flex flex-col items-center w-full space-y-2 btn-vertical-container"> 

  <app-button btnType="black" btnClass="workout-btn w-full">STRENGTH & POWER</app-button>
  <app-button btnType="black" btnClass="workout-btn w-full mt-2">GROWTH & HYPERTROPH</app-button>
  <app-button btnType="black" btnClass="workout-btn w-full mt-2">CARDIOVASCULAR & ENDURANCE</app-button>
  
 </div> 

 <div> 
  <app-button btnClass="mt-6 w-max px-7 py-3 !text-4xl">GENERATE</app-button>
 </div>
</div>

