<div class="flex flex-col items-center space-y-2 mt-6">

 <div class="w-[var(--landing-page-width)] h-1 bg-black"> </div>
<a class="text-lg">
 INSTRUCTIONS
</a>

<div class="flex items-center space-x-2"> 

 <a> <ng-icon name="remixFacebookCircleFill" size="15px"/> </a>
 <a> <ng-icon name="remixInstagramFill" size="15px"/> </a>
 <a> <ng-icon name="remixMailFill" size="15px"/> </a>
 <a> <ng-icon name="remixTwitterFill" size="15px"/> </a>
 
</div>

<a> Disclaimer</a>
<span> 2024 CopyRight</span>
</div>