<div class="flex flex-col items-center space-y-2 mt-6">

 <div class="w-[var(--landing-page-width)] h-0.5 bg-black"> </div>
<a class="text-lg">
 INSTRUCTIONS
</a>

<div class="flex items-center space-x-2"> 

 <a> <ng-icon name="remixFacebookCircleFill" size="25px"/> </a>
 <a> <ng-icon name="remixInstagramFill" size="25px"/> </a>
 <a> <ng-icon name="remixMailFill" size="25px"/> </a>
 <a> <ng-icon name="remixTwitterFill" size="25px"/> </a>
 
</div>

<a> Disclaimer</a>
<span><a>Copyright</a> <ng-icon name="remixCopyrightLine" size="18px"></ng-icon>  <a> 2024 </a> <a class="font-bold"> DUC DINH </a>  </span>
</div>