<form
  class="w-[400px] flex flex-col items-center justify-center mx-auto"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <app-input
    type="email"
    placeholder="Email"
    formControlName="email"
    class="w-full"
    *ngIf="!hasSubittedEmail"
  />

  <app-input
    type="password"
    placeholder="Password"
    formControlName="password"
    class="w-full"
    *ngIf="hasSubittedEmail"
  />

  <app-button type="submit" btnClass="!h-fit">Submit</app-button>
</form>

<p class="text-red-500 text-center">{{ error }}</p>
