<div class="flex flex-col">
  <div class="flex justify-between">
    <div class="flex flex-col">
      <div class="flex space-x-2">
        <div>
          <app-button
            btnClass="h-fit !my-0 px-4"
            [btnType]="type === 'volume' ? 'black' : 'transparent'"
            (click)="onChangeType('volume')"
            >Volume
          </app-button>
        </div>

        <div>
          <app-button
            btnClass="h-fit !my-0 px-4"
            [btnType]="type === 'reps' ? 'black' : 'transparent'"
            (click)="onChangeType('reps')"
            >Reps
          </app-button>
        </div>

        <!-- <div>
          <app-button
            btnClass="h-fit !my-0 px-4"
            [btnType]="type === 'time' ? 'black' : 'transparent'"
            (click)="onChangeType('time')"
            >Time
          </app-button>
        </div> -->
      </div>
      <span>Total: {{ total }} {{ label }} </span>
    </div>

    <form class="flex space-x-2" [formGroup]="form">
      <div class="border border-black p-2 h-fit">
        <label>Start: </label>
        <input type="date" formControlName="start" [max]="maxDate" />
      </div>

      <div class="border border-black p-2 h-fit">
        <label>End: </label>
        <input type="date" formControlName="end" [max]="maxDate" />
      </div>
    </form>
  </div>

  <div class="w-full mx-auto">
    <canvas baseChart type="bar" [data]="data" [options]="options"></canvas>
  </div>
</div>

<p class="text-red-500 text-center">{{ error }}</p>
